<div class="Search">
    <input class="Search__input" type="text" name="search" id="">
    <img class="Search__img" src="https://cdn2.iconfinder.com/data/icons/ios-7-icons/50/search-512.png" alt="">
</div>
<div class="Books Bks">
    <div class="Book Bk">
        <div class="Book__box">
            <img class="Book__img BkI" src="http://localhost:3000/bookImg/1" alt="">
        </div>
        <h2 class="Book__h2 Bkh2">titulo</h2>
    </div>
    <div class="Book Bk">
        <div class="Book__box">
            <img class="Book__img BkI" src="http://localhost:3000/bookImg/1" alt="">
        </div>
        <h2 class="Book__h2 Bkh2">titulo</h2>
    </div>
    <div class="Book Bk">
        <div class="Book__box">
            <img class="Book__img BkI" src="http://localhost:3000/bookImg/1" alt="">
        </div>
        <h2 class="Book__h2 Bkh2">titulo</h2>
    </div>
    <div class="Book Bk">
        <div class="Book__box">
            <img class="Book__img BkI" src="http://localhost:3000/bookImg/1" alt="">
        </div>
        <h2 class="Book__h2 Bkh2">titulo</h2>
    </div>
    <div class="Book Bk">
        <div class="Book__box">
            <img class="Book__img BkI" src="http://localhost:3000/bookImg/1" alt="">
        </div>
        <h2 class="Book__h2 Bkh2">titulo</h2>
    </div>
    <div class="Book Bk">
        <div class="Book__box">
            <img class="Book__img BkI" src="http://localhost:3000/bookImg/1" alt="">
        </div>
        <h2 class="Book__h2 Bkh2">titulo</h2>
    </div>
    <div class="Book Bk">
        <div class="Book__box">
            <img class="Book__img BkI" src="http://localhost:3000/bookImg/1" alt="">
        </div>
        <h2 class="Book__h2 Bkh2">titulo</h2>
    </div>
    <div class="Book Bk">
        <div class="Book__box">
            <img class="Book__img BkI" src="http://localhost:3000/bookImg/1" alt="">
        </div>
        <h2 class="Book__h2 Bkh2">titulo</h2>
    </div>
    <div class="Book Bk">
        <div class="Book__box">
            <img class="Book__img BkI" src="http://localhost:3000/bookImg/1" alt="">
        </div>
        <h2 class="Book__h2 Bkh2">titulo</h2>
    </div>
    
</div>