<div class="BackChap BaCk">
    <img class="BackChap__icon" src="https://www.materialui.co/materialIcons/navigation/arrow_back_grey_192x192.png" alt="">
</div>

<div class="Description Des">
    <!-- <img class="Description__img D__im" src="http://localhost:3000/bookImg/1" alt="">
    <div class="Description__div D__div">
        <h1 class="Description__h1 D__h1">título</h1>
        <h2 class="Description__h2 D__h2">descrição</h2>
    </div> -->
</div>

<div class="Chapter Chap">
    <!-- <div class="Chapter_div Chap__div">
        Chapter n: name
    </div>
    <div class="Chapter_div Chap__div">
        Chapter n: name
    </div>
    <div class="Chapter_div Chap__div">
        Chapter n: name
    </div> -->
</div>