<div class="Group">
    <div class="BackChap BaCk">
        <img class="BackChap__icon" src="https://www.materialui.co/materialIcons/navigation/arrow_back_grey_192x192.png" alt="">
    </div>
    <div class="dropdown DD">
        <button class="dropbtn DBut">Chapters</button>
        <div id="myDropdown " class="dropdown-content mD inv">
          <div class="DropCont DC"></div>
        </div>
    </div>    
</div>
<div class="Page Pg">
    <!-- <div class="Page__div P__div">
        <img class="Page__img P__img" src="http://localhost:3000/pageImg/2" alt="">
    </div>
    <div class="Page__div P__div">
        <img class="Page__img P__img" src="http://localhost:3000/pageImg/3" alt="">
    </div>
    <div class="Page__div P__div">
        <img class="Page__img P__img" src="http://localhost:3000/pageImg/4" alt="">
    </div>
    <div class="Page__div P__div">
        <img class="Page__img P__img" src="http://localhost:3000/pageImg/5" alt="">
    </div> -->
</div>
<div class="OperChapter OC">
    <h1 class="Oper__h1 PC">
        prev
    </h1>
    <h1 class="Oper__h1 NC">
        next
    </h1>
</div>